path.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

path.link.twofive {
    opacity: 0.25;
}

path.link.fivezero {
    opacity: 0.50;
}

path.link.sevenfive {
    opacity: 0.75;
}

path.link.onezerozero {
    opacity: 1.0;
}

circle {
    stroke: black;
    stroke-width: 1.5px;
}

text {
    fill: #000;
    font: 10px sans-serif;
}

body {
    font-family: Verdana, sans-serif;
    margin: 8px;
    apadding-left: 20px;
    apadding-right: 20px;
    border: 1;
    font-size: 14px;
    font-weight: normal;
    color: #404040;
}

.div.title {
    font-size: 16px;
    font-weight: bold;

}

.filters.div.title {
    position: absolute;
    margin-bottom: 20px;
}

.filters.div.area {
    margin-top: 40px;
    margin-bottom: 10px;
}

/* place the color box next to the filter option */
.div.area.filter.chkbox, .colorBlock {
    margin-bottom: 10px;
    display: inline-block;
}

.filters.div.area, .div.area.filter.chkbox {
    margin-left: -115px;
}

.colorBlock {
    margin-left: 115px;
}


/* make filters and map display side by side  */
.filters.div, .div.map {
    margin-top: 20px;
    display: inline-block;
}

.map.div.title, .filters.div.title {
    margin-top: 0px;
    font-size: 14px;
    font-weight: bold;
}


/* place the refresh button to top-right */
.div.functionArea.button.reset {
    background-color: #0000CD;
    color: white;
    text-align: center;
    font-size:14px;
    height: 30px;
    border: none;
    position: absolute;
    margin-left: 475px;
    margin-top: -3px;
}

.map.div.d3Area {
    position:absolute;
    padding-top: 20px;
}

.div.map {
    position: absolute;
    width: 100%;
    padding-left: 3%;
}

svg {
    background-color: #f0f0f5;
}

.colorBlock {
    height: 17px;
    font-size: 17px;
}